<div class="well">
  <div class="row">
{{ if hasPrefix .CurrentUrl "/katalog"}}
    {{ template "left_menu" . }}
 {{ end }}
    <div class="col-md-9">
    <h2>rubric</h2>
      <ul>{{ range .items }}
<li><a href="{{ $.CurrentUrl }}/{{ .Slug }}">{{ .Title }}</a></li>
      {{ end }}</ul>
    </div>

  </div>
</div>