<div class="well">
  <div class="row">

    {{ template "left_menu" . }}

    <div class="col-md-9">
    <h2>Entities</h2>
      <ul>{{ range .items }}
<li><a href="{{ $.CurrentUrl }}/{{ .Slug }}">{{ .Title }}</a></li>
      {{ end }}</ul>
    </div>

  </div>
</div>