<form action="" method="post">
	<input type="text" name="name" placeholder="title">
	<select name="type" id="">
		<option value="2">Строка</option>
		<option value="1">Число</option>
	</select>
	<button>Add</button>
</form>

<link rel="stylesheet" href="/css/admin.css">