{{ define "left_menu" }}

		<div class="col-md-3">
			<div class="list-group">{{range (.Menus.Menu "katalog").Items.FirstLevel }}
				<a href="{{.Link}}" class="list-group-item active">{{.Title}}</a>
				{{ range ($.Menus.Menu "katalog").Items.Childs .Id }}
				<a href="{{ ($.Menus.Menu "katalog").Items.Path .Id }}" class="list-group-item">{{.Title}}</a>
				{{ end }}
				{{end}}
			</div>
		</div>
{{end}}