<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    @font-face {
      font-family: Popular; /* Имя шрифта */
      src: url(/fonts/POPULAR.woff); /* Путь к файлу со шрифтом */
    }
    @font-face {
      font-family: Academy;
      font-weight: normal;
      src: url(/fonts/Academy.woff);
    }
    @font-face {
      font-family: Academy;
      font-weight: bold;
      src: url(/fonts/Academy-bold.woff);
    }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/s.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/docs.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
<div class="container">
  <div class="row">
    <div class="col-md-3" style="width:20%">
      <a href="/"><img class="img-responsive" style="padding:10px;" src="/img/logo.png"></a>
    </div>
    <div class="col-md-9" style="height:80%">
      <p class="h1" style="margin:5px 0 0 0;font-size:50px;font-family:'Popular';">В лучших русских традициях</p>
      <style>.social{
        position:absolute;
        height:30px;
        top:10px;
        right:0;
        font-size: 30px;
        line-height: 30px;
        border-radius: 5px;
        box-shadow: 0 0 11px 1px #999;
        background: #eee;

      }
      .social a {
        text-decoration: none;
      }
      .social span {
        line-height: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 5px;
        transition: all .4s;
      }
      .s-vk{
        background: #4e729a;
        color: #fff;
      }
      .s-f{
        background: #3b5998;
        color: #fff;
      }
      .s-y{
        background: #cc181e;
        color: #fff;
      }
      .s-t{
        background: #0084b4;
        color: #fff;
      }
      </style>
      <div class="social">
        <a href="/"><span class="icon-Vkontakte s-vk"></span></a>
        <a href="/"><span class="icon-twitter s-t"></span></a>
        <a href="/"><span class="icon-facebook s-f"></span></a>
        <a href="/"><span class="icon-YouTube-play s-y"></span></a>
      </div>
      <div class="navbar" style="margin-top:0px;" role="navigation">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav nav-pills">{{ range (.Menus.Menu "main").Items.FirstLevel }}
<li {{if menuEqual $.CurrentUrl .Link}}class="active"{{end}}><a href="{{.Link}}">{{.Title}}</a></li>
          {{ end }}
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
  </div>
	{{ with .Flash.SuccessMsg }}
<div class="alert alert-success" role="alert">
  {{.}}
</div>
{{ end }}
{{ with .Flash.ErrorMsg }}
<div class="alert alert-danger" role="alert">
  {{.}}
</div>
{{ end }}

{{yield}}


{{ .widget.Render "promo" }}

      <footer>
        <p class="text-muted hide-height-1100"></p>
        <ul class="list-inline text-muted hide-height-1100">{{ range (.Menus.Menu "main").Items.FirstLevel }}
<li {{if menuEqual $.CurrentUrl .Link}}class="active"{{end}}><a href="{{.Link}}">{{.Title}}</a></li>
          {{ end }}
        </ul>
        <p class="text-muted hide-height-1100">Данный сайт принадлежит ИП Антонов Игорь Викторович ИНН 673100057790</p>
      </footer>
</div>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t52.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров и"+
" посетителей за 24 часа' "+
"border='0' width='0' height='0'><\/a>")
//--></script><!--/LiveInternet-->


<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=25262132&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25262132/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:0px; height:0px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25262132,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25262132 = new Ya.Metrika({id:25262132,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25262132" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<style>.metrika{display: none;}</style>
  </body>
</html>