
<div class="panel">
	{{.widget_setting}}
</div>

<form action="" method="post">
	<div class="form-group">
		<label for="">Настройки</label>
		<input class="form-control" type="text" placeholder="Настройки" name="widget_setting" id="">
	</div>
	<button class="btn btn-success">Сохранить</button>
</form>