{{.phone}}
<form method="post">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="phone" placeholder="phone">
	<input type="text" name="text" placeholder="text">
	<button>Submit</button>
</form>